@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

header {
    margin-bottom: 30px;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.activity-box {
    background: rgba(151, 206, 57, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Merriweather', serif; 
    animation: levitation 3s ease-in-out infinite; 
}

.activity-box:hover {
    transform: scale(1.05);
}

@keyframes levitation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

footer {
    margin-top: 30px;
    color: #fff;
}

@media (max-width: 768px) {
    .activity-box {
        width: 80%;
    }
}


.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
}

.icon svg {
    width: 25px;
    height: 25px;
}

.cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
}

.button-icon:hover {
    border-color: #94ec5e;
}

.button-icon:hover .cube {
    transform: rotateX(90deg);
}

.side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.top {
    background: #47e85c;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}
